html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}
