h1 {
	font: {
		family: 'Libre Baskerville', serif;
		size: 3em;
	}
}

.navbar{
 //background: $main-color;
 padding: .25rem 1rem;
 font-weight: 700;

}
.nav-link , .navbar-brand{
 color: $main-color;
 cursor: pointer;
}
/*
.nav-link{
 margin-right: 2em !important;
}*/

.nav-item {
	margin: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 1px solid $main-color;
}
.nav-link:hover{
 color: darken($main-color, 10%);
}

.mr-4, .mx-4 {
	margin-right: 0;
}

.navbar-collapse{
 justify-content: center;
}
.navbar-toggler{
  background:#fff !important;
}


.header{
	min-height: 400px;
 background-image: url('../img/pozadie1.jpg');
 background-position: center ;
 //background-attachment: fixed;
 background-size: cover;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
background: rgba(0, 0, 0, 0.15);
}
