h1 {
	font: {
		family: 'Libre Baskerville', serif;
		size: 3em;
	}
}

.navbar{
 background: $main-color;
 padding: .25rem 1rem;
 font-weight: 700;

}
.nav-link , .navbar-brand{
 color: $main-color-oposite;
 cursor: pointer;
}
/*
.nav-link{
 margin-right: 2em !important;
}*/

.nav-item {
	margin: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 1px solid $main-color-oposite;
}
.nav-link:hover{
 color: lighten($main-color-oposite, 15%);
}

.mr-4, .mx-4 {
	margin-right: 0;
}

.navbar-collapse{
 justify-content: center;
}
.navbar-toggler{
  background:#fff !important;
}

.vecos-top {
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.header{
	min-height: 600px;
 background-image: url('../img/responsive2.jpg');
 background-position: -25px center ;
//background-attachment: fixed;
 background-size: cover;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
background: rgba(0, 0, 0, 0.20);
}

.vecos-description {
 padding-bottom: .5rem;
}

.vecos-description h1 {
	color: $main-color;
	font-size: 5.5rem;
}

.vecos-description p {
	font-size: 1.5rem;
	color: $main-color;
}

.vecos-description button {
	 border: 2px  solid $main-color;
font-size: 1.5rem;
 color:$main-color;

}


.vecos-description button:hover {
	background: $main-color-oposite;
}

.vecos-indent {
	text-indent: -9999px;
}

.vecos-background {
	background: $main-color-oposite;
	opacity: 0.7;
	display: inline-block;
	  margin-top: .25rem;
	margin-bottom: 2.5rem;
}

.blog{
 margin: 1rem 0;
 position: relative;
}
.blog h1{
 color:#F97300;
 margin: 2em;
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 10em;
 padding: .25rem;
 color: blue;
}
.card-img {
	text-align: center;
	padding: .5rem 0;
}
.card-img i {
	font-size: 4em;
	color: $text-color-title;
}

.card-head {
	 width: 100%;
 height: 6rem;
	background: red;
}

.blog .card-title{
 color: $text-color-title;


}
.card-title {
	text-align: center;
}

.card-footer {
 text-align: center;
}

.blog .card-body{
 padding: 1em;

}

