

.margin-lr {
	margin-left: .25rem;
	margin-right: .25rem;
}

.margin-ud {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.navbar{
 background: $main-color;
 padding: .25rem 1rem;
 font-weight: 700;

}
.nav-link , .navbar-brand{
 color: $main-color-oposite;
 cursor: pointer;
}
/*
.nav-link{
 margin-right: 2em !important;
}*/

.nav-item {
	margin: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 1px solid $main-color-oposite;
}
.nav-link:hover{
 color: lighten($main-color-oposite, 15%);
}

.mr-4, .mx-4 {
	margin-right: 0;
}

.navbar-collapse{
 justify-content: center;
}
.navbar-toggler{
  background:#fff !important;
}

.vecos-top {
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.head {
 height: 600px;
 background-image: url('../img/responsive-l-updated.jpg');
 background-position: 0 center ;
 background-size: cover;
}

.logo {
	margin-top: .5rem;
}

.overlay {
	position: relative;
	height: 600px;

	background: $overlay;
}

.vecos-description {

 padding-bottom: .5rem;
 	position: relative;
	top: 8.5rem;
}

.vecos-description h1 {

	color: $main-color;
	font-size: 5.5rem;
}

.vecos-description p {
	font-size: 1.35rem;
	color: $main-color;
}

.btn {
	font-size: 1.35rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.btn-primary {
	background: $color-main4;
}

.btn-primary:hover {
	background: darken($color-main4,20%);
}

.button {
	display: inline-block;
color: $main-color;
background: $color-main2;
padding: .5rem .75rem;
font-size: 1.5rem;
font-weight: 700;
border-radius: 2px;
//border: 3px solid $color-main2;
 transition: all .75s ease-out;
}

.button:hover {
color: darken($main-color, 20%);
//border-color: darken($main-color, 20%);
background: darken($color-main2, 20%);
}

/*
-----Sluzby-----
 */

.blog{
 margin: 2rem 0;
 position: relative;
}
.blog h1{
 color:#F97300;
 margin: 2em;
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card:hover {
 box-shadow: 0 0 10px #bbb;
 background: lighten(#bbb, 25%);
}

.blog .card img{
text-align: center;
 padding: .25rem;
 color: blue;
}
.card {
	margin-bottom: .5rem;
	height: 405px;
}

.card-img {
	text-align: center;
//	padding: .5rem 1.75rem;
}
.card-img i {
	font-size: 4em;
	color: $color-main4;
}

.card-head {
	 width: 100%;
 height: 6rem;
	background: red;
}

.blog .card-title{
 color: $color-main4;

}
.card-title {
	text-align: center;
}

.card-footer {
 text-align: center;
 background: $color-main4;

 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 color: $text-color-button;
 padding: .5rem;
 transition: all .75s ease-out;
}

.card-footer:hover {
background: darken($color-main4, 20%);
}

.card-link {
 	//padding: .5rem;
 	transition: all .75s ease-out;
 }

 .card-link:hover {
 	color: darken($text-color-button, 20%);
 }

.blog .card-body{
 padding: 1em;
}

/*
SLuzby viac  --spravit mixin
 */

.webstranky {
	background: $color-main;
	display: none;
}

.eshopy {
	background: $color-main;
	display: none;
}

.aplikacie {
	background: $color-main;
	display: none;
}

/*Portfolio*/
.portfolio{
 margin: 3em 0;
 margin-bottom: 0;
 padding: 2rem 0;
    position: relative;
 background: $color-main2;
}
.portfolio h1{
 color: $text-color-headers;
 padding: 1rem;

}
.portfolio img{
  height: 17rem;
  width: 100%;
  margin: 2rem 0;
}


.contact-form{
 //margin: 6em 0;
 padding: 6rem;
 position: relative;
 background: $color-main4;
  color: $text-color-headers;
}
.contact-form h1{
 padding:0 1px;
 padding-bottom: .35rem;
 color: $text-color-headers;
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  inherit;
 color: #fff;
 border: 1px solid white;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

.vecos-contact2 {
	margin: 2.5rem 0 1rem 0;

}

.vecos-box {
	//border: 3px solid $main-color;
	border-radius: 3px;
	background: $main-color;
	//width: 200px;
	//min-height: 115px;
	text-align: center;
	color: $color-main5;
	//margin: .5rem .25rem 0 0;
	box-shadow: 0 0 25px #333;
}


.vecos-box:hover {
box-shadow: 0 0 15px #222;
background: darken($main-color,10%);
}

.vecos-box i {
	font-size: 2rem;
	padding: .5rem;
}
/*
.vecos-box h4 {
	border-bottom: 2px solid $color-main5;
}
*/

/*
 footer-vecos
 */

.footer-vecos {
	background: $color-bg-footer;

}

.footer-text {
	margin: 2rem 0;
	color: $color-text-footer;
}



/*
ABOUT -----
 */

.about {
	background: $color-main3;
	padding: 2rem 0;
	color: $text-color-headers;
 h1 {
	margin: 0;
	padding: 1rem 0;
	 }
 h4 {
 	padding: 1rem 0;
 }
 .row {
 	margin: 1rem 0;
 }
}


.about-icon {
	text-align: center;
	font-size: 4rem;
	position: relative;
	top: 25%;
	bottom: 25%;
		border-right: 2px solid white;
}

.about-left {

}
