.sluzby {
	background: $main-color;
	//display: none;
	padding: 3rem 0;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
