

$main-color: white;
$main-color-oposite: #333;
$text-color-title: #4c67ff;
$text-color-content: #222;
$text-color-button: white;
$text-color-headers: white;

$overlay: rgba(0, 0, 0, .25);
$overlay-button:rgba(255, 255, 255, .2);

$color-bg-cennik: #333;
$color-bg-footer: #333;
$color-text-footer: #ddd;



$color-main: #5e91ff;

$color-main1: #7cdeff;
$color-main2: #6db8ff;
$color-main3: #5e91ff;
$color-main4: #4c67ff;
$color-main5: #444eff;
