html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.group:before,
.group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

.group {
  *zoom: 1; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

h1 {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-family: 'Roboto', sans-serif; }

h3 {
  font-family: 'Roboto', sans-serif; }

h4 {
  font-family: 'Roboto', sans-serif; }

.content {
  max-width: 1080px;
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.margin-lr {
  margin-left: .25rem;
  margin-right: .25rem; }

.margin-ud {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.navbar {
  background: white;
  padding: .25rem 1rem;
  font-weight: 700; }

.nav-link, .navbar-brand {
  color: #333;
  cursor: pointer; }

/*
.nav-link{
 margin-right: 2em !important;
}*/
.nav-item {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #333; }

.nav-link:hover {
  color: #595959; }

.mr-4, .mx-4 {
  margin-right: 0; }

.navbar-collapse {
  justify-content: center; }

.navbar-toggler {
  background: #fff !important; }

.vecos-top {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.head {
  height: 600px;
  background-image: url("../img/responsive-l-updated.jpg");
  background-position: 0 center;
  background-size: cover; }

.logo {
  margin-top: .5rem; }

.overlay {
  position: relative;
  height: 600px;
  background: rgba(0, 0, 0, 0.25); }

.vecos-description {
  padding-bottom: .5rem;
  position: relative;
  top: 8.5rem; }

.vecos-description h1 {
  color: white;
  font-size: 5.5rem; }

.vecos-description p {
  font-size: 1.35rem;
  color: white; }

.btn {
  font-size: 1.35rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.btn-primary {
  background: #022430; }

.btn-primary:hover {
  background: black; }

.button {
  display: inline-block;
  color: white;
  background: #043D56;
  padding: .5rem .75rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2px;
  transition: all .75s ease-out; }

.button:hover {
  color: #cccccc;
  background: black; }

/*
-----Sluzby-----
 */
.blog {
  margin: 2rem 0;
  position: relative; }

.blog h1 {
  color: #F97300;
  margin: 2em; }

.blog .card {
  box-shadow: 0 0 20px #ccc; }

.blog .card:hover {
  box-shadow: 0 0 10px #bbb;
  background: #fbfbfb; }

.blog .card img {
  text-align: center;
  padding: .25rem;
  color: blue; }

.card {
  margin-bottom: .5rem;
  height: 405px; }

.card-img {
  text-align: center; }

.card-img i {
  font-size: 4em;
  color: #022430; }

.card-head {
  width: 100%;
  height: 6rem;
  background: red; }

.blog .card-title {
  color: #022430; }

.card-title {
  text-align: center; }

.card-footer {
  text-align: center;
  background: #022430;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  padding: .5rem;
  transition: all .75s ease-out; }

.card-footer:hover {
  background: black; }

.card-link {
  transition: all .75s ease-out; }

.card-link:hover {
  color: #cccccc; }

.blog .card-body {
  padding: 1em; }

/*
SLuzby viac  --spravit mixin
 */
/*Portfolio*/
.portfolio {
  margin: 3em 0;
  margin-bottom: 0;
  padding: 2rem 0;
  position: relative;
  background: #043D56; }

.portfolio h1 {
  color: white;
  padding: 1rem; }

.portfolio img {
  height: 17rem;
  width: 100%;
  margin: 2rem 0; }

.contact-form {
  padding: 4rem 0 3rem 0;
  position: relative;
  background: #022430;
  color: white; }

.contact-form h1 {
  padding: 0 1px;
  padding-bottom: .35rem;
  color: white; }

.contact-form .right {
  max-width: 600px; }

.contact-form .right .btn-secondary {
  background: inherit;
  color: #fff;
  border: 1px solid white; }

.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px; }

.vecos-contact2 {
  margin: 2.5rem 0 1rem 0; }

.vecos-box {
  border-radius: 3px;
  background: white;
  text-align: center;
  color: #00151D;
  box-shadow: 0 0 25px #333; }

.vecos-box:hover {
  box-shadow: 0 0 15px #222;
  background: #e6e6e6; }

.vecos-box i {
  font-size: 2rem;
  padding: .5rem; }

/*
.vecos-box h4 {
	border-bottom: 2px solid $color-main5;
}
*/
/*
 footer-vecos
 */
.footer-vecos {
  background: #333;
  padding: 1rem 0; }

.footer-text {
  margin: 2rem 0;
  color: #ddd; }

/*
ABOUT -----
 */
.about {
  background: #023042;
  padding: 3rem 0;
  color: white; }
  .about h1 {
    margin: 0;
    padding: 1rem 0; }
  .about h4 {
    padding: 1rem 0; }
  .about .row {
    margin: 1rem 0 0 0; }

.about-icon {
  text-align: center;
  font-size: 4rem;
  position: relative;
  top: 25%;
  bottom: 25%;
  border-right: 2px solid white; }

.modal-header h2 {
  margin: 0; }

.content-contact {
  max-width: 780px;
  margin: 0 auto; }

.pd-lr-rem {
  padding-right: 5px;
  padding-left: 5px; }

.cennik {
  background: #333; }

.vecos-cennik {
  background: white; }
  .vecos-cennik h1 {
    color: #022430;
    margin: 1rem 0; }

.vecos-web {
  background: #eee;
  padding: 2rem 0; }
  .vecos-web h2 {
    margin: .5rem 0 1rem 0; }

.table {
  margin-bottom: 0; }

.vecos-table-head {
  text-transform: uppercase;
  font-size: 1.15rem; }

.vecos-table-info {
  font-size: .9rem; }

.vecos-table-body {
  text-transform: uppercase; }

.vecos-table-body span {
  text-transform: none;
  padding-left: 3rem !important; }

.vecos-dodatok {
  background: white;
  padding: 2rem 0; }
  .vecos-dodatok h2 {
    margin: .5rem 0 1rem 0; }

.addendum {
  margin-top: 1rem;
  padding-left: 3.75rem; }

@media (max-width: 1080px) {
  .head {
    background-image: url("../img/responsive-m-upd.jpg"); }

  .vecos-description h1 {
    font-size: 4.5rem; } }
@media (max-width: 992px) {
  .blog .card-body {
    padding: .5rem; }

  .card {
    height: 435px; } }
@media (max-width: 767px) {
  .head {
    background-image: url("../img/responsive-s-upd.jpg"); }

  .vecos-description h1 {
    font-size: 3.75rem; }

  .vecos-description p {
    font-size: 1.25rem; }

  .card {
    height: auto; }

  .vecos-description {
    top: 6.5rem; }

  .about-icon {
    border: none; }

  .blog .card-body {
    padding: 1rem; }

  .portfolio img {
    margin: 1rem 0;
    height: auto; } }
@media (min-width: 576px) {
  .modal-dialog {
    margin: 6rem auto;
    max-width: 550px; } }
.sluzby {
  background: white;
  padding: 3rem 0; }

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

hr {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/*# sourceMappingURL=main.css.map */
